*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clr{
    clear: both;
}

h1, h4, .btn, #navbar{
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    margin: 20px;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

a:hover{
    font-weight: bold;
}

.container{
    width: 90%;
    max-width: 90em;
    margin: 0 auto;
}

.header{
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 20px 10px;
    overflow: hidden;
}  

.header a {
    float: left;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 20px;
}

@media (max-width:500px){
    .logo{
        height: auto;

    }
    .header{
        font-size: 4.2vw;
    }
}

.header a:hover {
    font-weight: 700;
}

#navbar{
    float: right;
    margin-top: 10px;
}

#intro-Illustration{
    display: block;
    margin-top: 100px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.main-article{
    position: relative;
    text-align: center;
    margin-bottom: 7em;
}

.main-article h1{
    line-height: 1.2;
    margin-top: 4rem;
    margin-bottom: 1.1em;

}

.main-article p{
    font-size: minmax(3.7vw, 4.5vw);
    margin: auto;
    width: auto;
    margin-bottom: 1em;
}

.btn{
    background-color: hsl(228, 45%, 44%);
    padding: 10px 40px;
    border-radius: 25px;
    color: white;
}

.btn:hover{
    background-color: hsl(176, 49%, 54%);
    font-weight: bold;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.flex-container img{
    width: auto;
    height: 5em;
    margin-bottom: 1.3em;
}

.flex-container h4{
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

.flex-item-left, .flex-item-right {
    flex: 30%;
    padding: 10px;
    justify-content: space-around;
}

.top{
    margin-bottom: 6em;
}

@media (min-width:700px){
    #stay-productive{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-bottom: 5em;
    }
}

#stay-illustration{
    flex: 1;
    max-width: 100%;
}

#how-fylo-works{
    flex: 1;
    max-width: 37em;
    margin: 3em 0em;
}

#how-fylo-works h1{
    font-size: minmax(4.9vw, auto);
    line-height: 1.2em;
    text-align: left;
    margin-bottom: 1.2rem;
}

#how-fylo-works p{
    text-align: left;
    font-size: minmax(3.7vw, 4.5vw);
}

#how-fylo-works div, a{
    margin-top: 10px;
    font-weight: lighter;
    color: hsl(176, 68%, 64%);
}

@media (min-width:700px){
    #reviews{
    display: flex;
    justify-content: space-between;
    } 
}

#reviews img{
    border-radius: 10em;
    width: 3em;
    margin-top: 1em
}

.review-1, 
.review-2, 
.review-3{
    flex-wrap: wrap;
    background-color: hsl(219, 30%, 18%);
    flex-basis: 32%;
    padding: 1em;
    margin-bottom: 2em;
}

.reviewer{

}

@media screen and (max-width: 500px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
}

.access-card{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    text-align: center;
    padding: 1.1em;
    background-color: hsl(218, 28%, 11%);
    box-shadow:hsl(216, 32%, 12%);
    position: relative;
}

.access-card h3{
    margin-bottom:1.5em ;
}

.access-card p{
    margin-bottom:1.5em ;
}

.access-card input{
    display: inline;
    padding: 1em 13vw;
    border-radius: 30px;
    border: none;
    text-align: center;
    margin-bottom: 1em;
}

.access-card .btn{
    display: inline;
    flex-basis: 30%;
}

#main-footer {
    display: flex;
    margin-bottom: 1.4em;
    padding: 20px;
    background-color: hsl(216, 53%, 9%);
}


@media (min-width:500px){
    .lorem{
        flex:2;
    }

    .contact{
        flex:1;
    }

    .browse{
        flex:1;
    }

    .contact2{
        flex:1;
    }
}


